*{
    margin: 0;
    padding: 0;
}

label{
    color: white;
    font-family:monospace;
    
}

p{
    color: white;
}

a{
    text-decoration: none;
    color: white;
}

select{
    width: 185px;
}

button{
    border: 0;
    cursor: pointer;
}

input{
    background-color: black;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    padding: 7px;
    margin-top: 5px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}


.logo{
    max-width: 50px;
}

.general{
    width: 250px;
    height: 350px;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 16%, rgba(70,20,119,1) 100%);
}

.container{
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.inputs{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 30px;
}

::placeholder{
    color: rgba(255,255,255,0.5);
}

.cut{
    color: white;
}

.atalho{
    width: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    height: 50px;
    margin-top: 40px;
}

.footer label{
    color: white;
}
.footer button{
    width: 50px;
}

.footer{
    width: 90%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-left: 20px;
    flex-direction: row;
}


.cut{
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 16%, rgba(70,20,119,1) 100%);
}

.config img{
    max-width: 30px;
}

.config{
    background-color: rgba(0, 0, 0, 0);
}

.configInput{
    display: flex;
    flex-direction: column;
    height: 40px;
    justify-content: space-between;
    margin-top: 16px;
}